---
layout: default
title:  Carfluent Inventory
lightbox: true
ion: true
page_class:
- class: srp
- class: card
custom_js: srp
---

<div class="srp">
    <div class="srp__search">
        <div class="srp__search-field">
            <input type="text" placeholder="Búsqueda de vehículos">
        </div>
        <div class="srp__filters-container">
            <button data-fancybox class="btn btn--white btn--filter" href="#filters">Filtros</button>
        </div>
        <div class="header__cta header__cta--toggle srp__search-toggle">
            <label class="toggle">
                <input type="checkbox">
                <span data-unchecked="Espanol" data-checked="English"></span>
                <div class="toggle-label">Espanol</div>
                <div class="toggle-label">English</div>
            </label>
        </div>
    </div>
    <div class="srp__cards">
        {% for card in site.data.srp.cards %}
            <a href="{{ card.link }}" class="vehicle-card">
                <div class="vehicle-card__card-image-container">
                    <div class="vehicle-card__card-image" style="background: url('{{ card.image }}') center center/cover no-repeat"></div>
                </div>
                    {% for flag in card.flag %}
                    <div class="vehicle-card__flag vehicle-card__flag--{{flag.type}}">{{ flag.text }}</div>
                    {% endfor %}
                <div class="vehicle-card__card-text">
                    <h3 class="vehicle-card__headline">{{ card.headline }}</h3>
                    <div class="vehicle-card__features">
                        <div class="vehicle-card__feature vehicle-card__feature--price">
                            {{ card.price }}
                        </div>
                        <div class="vehicle-card__feature vehicle-card__feature--mileage">
                            {{ card.mileage }}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
    </div>
    <div id="filters" class="srp__filters">
        <h2>Filtros de búsqueda de vehículos</h2>
        <div class="srp__filters-items">
            <h3>Marca</h3>
            <div class="srp__filters-item-container">
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Audi</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Alfa Romeo</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Buick</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">BMW</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Chevrolet</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Chrysler</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Dodge</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Ford</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Infiniti</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">Jeep</div>
                </label>
            </div>
        </div>

        <div class="srp__filters-items">
            <h3>Modelo</h3>
            <div class="srp__filters-item-container">
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">320i</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">X2 28i Sport</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">428 xi</div>
                </label>
                <label class="srp__filters-item">
                    <input type="checkbox" name="options">
                    <div class="srp__filters-item-pill">M4</div>
                </label>
            </div>
        </div>

        <div class="srp__filters-items">
            <h3>Años</h3>
            <label class="srp__filters-item">
                <div class="srp__filters-item-container">
                    <div class="srp__filters-item-select">
                        <select id="from-years">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                    </div>
                    <div class="srp__filters-item-select">
                        <select id="to-years">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                    </div>
                </div>
            </label>
        </div>

        <div class="srp__filters-items-container">

            <div class="srp__filters-items srp__filters-items--double srp__filters-items--range">
                <h3>Rango de precio</h3>
                <label class="srp__filters-item srp__filters-item--double">
                    <div class="srp__filters-item-container">
                        
                        <input type="text" class="js-range-slider" name="my_range" value=""
                        data-type="double"
                        data-min="5000"
                        data-max="100000"
                        data-from="20000"
                        data-to="40000"
                        data-step="100"
                        data-grid="false"
                        data-prefix="$"
                        data-hide-min-max="true"
                        data-prettify-separator=","
                    />
    
                    </div>
                </label>
            </div>
    
            <div class="srp__filters-items srp__filters-items--double srp__filters-items--range">
                <h3>Rango de millas</h3>
                <label class="srp__filters-item srp__filters-item--double">
                    <div class="srp__filters-item-container">
                        
                        <input type="text" class="js-range-slider" name="my_range" value=""
                        data-type="double"
                        data-min="1000"
                        data-max="100000"
                        data-from="10000"
                        data-to="40000"
                        data-step="100"
                        data-grid="false"
                        data-hide-min-max="true"
                        data-prettify-separator=","
                    />
    
                    </div>
                </label>
            </div>

            <div class="srp__filters-items">
                <h3>Color</h3>
                <div class="srp__filters-item-container">
                    <label class="srp__filters-item">
                        <input type="checkbox" name="options">
                        <div class="srp__filters-item-color" style="background-color: #2e5266;"></div>
                    </label>
                    <label class="srp__filters-item">
                        <input type="checkbox" name="options">
                        <div class="srp__filters-item-color" style="background-color: #6e8898;"></div>
                    </label>
                    <label class="srp__filters-item">
                        <input type="checkbox" name="options">
                        <div class="srp__filters-item-color" style="background-color: #9fb1bc;"></div>
                    </label>
                    <label class="srp__filters-item">
                        <input type="checkbox" name="options">
                        <div class="srp__filters-item-color" style="background-color: #d3d0cb;"></div>
                    </label>
                </div>
            </div>

        </div>

        <div class="srp__filters-footer">
            <a href="#" class="btn">Aplicar filtros</a>
            <a href="#" class="btn btn--white">Eliminar filtros</a>
        </div>

    </div>
</div>