---
layout: default
title: 2019 BMW M4 Competion
flickity: true
lightbox: true
page_class:
- class: home
- class: card
custom_js: vdp
---

<div class="heading">
    <a href="/" class="heading__back">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><g fill="#2c74d8"><path fill="#2c74d8" d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M10.4,10L9,11.4L5.6,8L9,4.6L10.4,6l-2,2L10.4,10z"></path></g></svg>
    </a>
    <h1 class="heading__headline">2019 BMW M4 Competition - CS Limitado</h1>
    <h2 class="heading__price">$62,500</h2>
</div>

<div class="vdp-top">

    <div class="vdp-slider">
        <div class="vdp-slider__top-slider-wrapper">
            <div class="vdp-slider__top-slider" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "pageDots": false }'>
                <div class="cell cell-1" style="background: url('img/car1.png') center center/cover no-repeat"></div>
                <div class="cell cell-2" style="background: url('img/car2.png') center center/cover no-repeat"></div>
                <div class="cell cell-3" style="background: url('img/car3.png') center center/cover no-repeat"></div>
                <div class="cell cell-4" style="background: url('img/car4.png') center center/cover no-repeat"></div>
                <div class="cell cell-5" style="background: url('img/car5.png') center center/cover no-repeat"></div>
            </div>
            <div class="vdp-slider__photo-count">
                <div class="vdp-slider__photo-count-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                    <g>
                        <path class="st0" d="M28,6h-4.4l-3-5h-9.1l-3,5H4c-2.2,0-4,1.8-4,4v16c0,2.2,1.8,4,4,4h24c2.2,0,4-1.8,4-4V10C32,7.8,30.2,6,28,6z
                            M16,25c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S19.9,25,16,25z"/>
                    </g>
                    </svg>
                </div>
                <a href="img/car1.png" class="vdp-slider__photo-count-label" data-fancybox="gallery">32 Fotos</a>
                <a class="vdp-slider__photo-count-image" href="img/car2.png" data-fancybox="gallery"></a>
                <a class="vdp-slider__photo-count-image" href="img/car3.png" data-fancybox="gallery"></a>
                <a class="vdp-slider__photo-count-image" href="img/car4.png" data-fancybox="gallery"></a>
                <a class="vdp-slider__photo-count-image" href="img/car5.png" data-fancybox="gallery"></a>
            </div>
        </div>
        <div class="vdp-slider__bottom-slider" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "pageDots": false, "prevNextButtons": false, "asNavFor": ".vdp-slider__top-slider" }'>
            <div class="cell cell-1" style="background: url('img/car1.png') center center/cover no-repeat"></div>
            <div class="cell cell-2" style="background: url('img/car2.png') center center/cover no-repeat"></div>
            <div class="cell cell-3" style="background: url('img/car3.png') center center/cover no-repeat"></div>
            <div class="cell cell-4" style="background: url('img/car4.png') center center/cover no-repeat"></div>
            <div class="cell cell-5" style="background: url('img/car5.png') center center/cover no-repeat"></div>
        </div>
    </div>

    <div class="vdp-highlights">
        <div class="vdp-highlights__wrapper">
            <h3 class="vdp-highlights__label section-label">
                Vista Rapida
            </h3>
            <div class="vdp-highlights__items">
                <div class="vdp-highlights__item">
                    <p class="vdp-highlights__text">Pre-Owned</p>
                    <div class="vdp-highlights__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="st0" d="M12.3,48.8V34.4c0.7,1.2,1.5,2.3,2.5,3.3L33,56c2.5,2.5,5.8,4,9.4,4.2V90c0,0.4-0.2,0.8-0.4,1.1l-7.6,7.6
                            c-0.4,0.4-1,0.4-1.4,0c0,0,0,0,0,0l-7.6-7.6c-0.3-0.3-0.4-0.7-0.4-1.1v-3.8c0-0.5,0.2-0.9,0.5-1.2l4.1-4.1c0.3-0.3,0.3-0.7,0-0.9
                            c0,0,0,0,0,0l-3.6-3.6c-0.9-0.9-0.9-2.4,0-3.3l3.6-3.6c0.3-0.3,0.3-0.7,0-0.9c0,0,0,0,0,0l-4.1-4.1c-0.3-0.3-0.5-0.8-0.5-1.2V58
                            h-3.4C16.4,58,12.3,53.9,12.3,48.8C12.3,48.8,12.3,48.8,12.3,48.8z M18.6,33.8c-3.6-3.6-3.6-9.4,0-13c0,0,0,0,0,0L35.8,3.7
                            c3.6-3.6,9.4-3.6,13,0c0,0,0,0,0,0L67,21.9c3.6,3.6,3.6,9.4,0,13c0,0,0,0,0,0l-2.4,2.4L87.3,60c0.3,0.3,0.4,0.7,0.4,1v10.8
                            c0,0.6-0.4,1-1,1H76c-0.4,0-0.8-0.2-1.1-0.4l-2.7-2.7c-0.3-0.3-0.5-0.8-0.5-1.2v-5.7c0-0.4-0.3-0.7-0.7-0.6c0,0,0,0,0,0h-5.1
                            c-1.3,0-2.3-1-2.3-2.3v0v-5.1c0-0.4-0.3-0.7-0.7-0.7h-5.7c-0.5,0-0.9-0.2-1.2-0.5l-3.7-3.7l-2.4,2.4c-3.6,3.6-9.4,3.6-13,0
                            c0,0,0,0,0,0L18.6,33.8z M32.4,24.3c1.9,1.9,4.9,1.9,6.8,0c1.9-1.9,1.9-4.9,0-6.8c-1.9-1.9-4.9-1.9-6.8,0
                            C30.5,19.3,30.5,22.4,32.4,24.3C32.4,24.3,32.4,24.3,32.4,24.3L32.4,24.3z"/>
                        </svg>
                    </div>
                </div>
                <div class="vdp-highlights__item">
                    <p class="vdp-highlights__text">48,245 Milas</p>
                    <div class="vdp-highlights__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                        <g>
                            <rect x="15" y="4" class="st0" width="2" height="4"/>
                            <rect x="23.2" y="8.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 0.4438 20.6866)" class="st0" width="4" height="2"/>
                            <rect x="27" y="18" class="st0" width="4" height="2"/>
                            <rect x="1" y="18" class="st0" width="4" height="2"/>
                            <rect x="9.9" y="9.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.6526 11.8181)" class="st0" width="2" height="8.3"/>
                            <path class="st0" d="M16,23c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4c2.2,0,4,1.8,4,4C20,21.2,18.2,23,16,23z M16,17c-1.1,0-2,0.9-2,2
                                s0.9,2,2,2c1.1,0,2-0.9,2-2S17.1,17,16,17z"/>
                            <path class="st0" d="M28.5,29h-25l-0.3-0.4C1.1,25.8,0,22.5,0,19C0,10.2,7.2,3,16,3s16,7.2,16,16c0,3.5-1.1,6.8-3.2,9.6L28.5,29z
                                M4.5,27h22.9c1.7-2.4,2.5-5.1,2.5-8c0-7.7-6.3-14-14-14S2,11.3,2,19C2,21.9,2.9,24.6,4.5,27z"/>
                        </g>
                        </svg>
                    </div>
                </div>
                <div class="vdp-highlights__item">
                    <p class="vdp-highlights__text">San Marino Azul</p>
                    <div class="vdp-highlights__color" style="background-color: blue"></div>
                </div>
                <div class="vdp-highlights__item">
                    <p class="vdp-highlights__text">2 Puertos</p>
                    <div class="vdp-highlights__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="st0" d="M48.5,16.7c-5.5,0-13,3.3-16.7,7.4L12.9,45c-2.5,2.7-3.6,7.8-2.5,11.3l6.2,20.6c1.1,3.5,4.9,6.4,8.6,6.4h58.2
                            c3.7,0,6.7-3,6.7-6.7v-60H48.5z M83.3,60H70v-6.7h13.3V60z M83.3,46.7H20.4l16.3-18.1c2.4-2.7,8.1-5.2,11.7-5.2h34.9
                            C83.3,23.3,83.3,46.7,83.3,46.7z"/>
                        </svg>
                    </div>
                </div>
                <div class="vdp-highlights__item">
                    <p class="vdp-highlights__text">4 Asiento</p>
                    <div class="vdp-highlights__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="st0" d="M58.6,69.4c-0.9-4.6,9.2-39.7,15.1-44.2s14.4-2.8,15.3,1.5S71,91.2,71,91.2C69.5,75.3,59.5,74,58.6,69.4z"/>
                        <path class="st0" d="M80.8,21.1c-1.9,0-2.7-0.5-3.4-3.1S84,3.2,84,3.2C87.9-1,95.4-0.5,97,1.5s-6.6,22.6-6.6,22.6
                            C88.2,20.4,82.6,21.1,80.8,21.1z"/>
                        <rect x="7.6" y="95.2" class="st0" width="58" height="4.8"/>
                        <path class="st0" d="M67.8,93.2c0,0,0-11.4-11.1-19.4c-7.2-5.2-41.6-8.5-48.1-3.2c-6,4.9-8.4,13.4-3.7,22.6H67.8z"/>
                        </svg>
                    </div>
                </div>
                <div class="vdp-highlights__item">
                    <p class="vdp-highlights__text">DCT / Automatico</p>
                    <div class="vdp-highlights__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <path class="st0" d="M50,10c-22.1,0-40,17.9-40,40s17.9,40,40,40s40-17.9,40-40S72.1,10,50,10z M70,53.3H53.3V70h-6.7V53.3h-10V70
                            H30V30h6.7v16.7h10V30h6.7v16.7h10V30H70V53.3z"/>
                        </svg>
                    </div>
                </div>
                <div class="vdp-highlights__item">
                    <p class="vdp-highlights__text">Twin Turbo 3.0 6 cyl</p>
                    <div class="vdp-highlights__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <g>
                            <path class="st0" d="M93.8,46.9v21.9c0,0.9-0.7,1.6-1.6,1.6H86c-0.9,0-1.6-0.7-1.6-1.6v-4.7h-3.1v9.4c0,0.4-0.2,0.8-0.5,1.1
                                l-6.2,6.2c-0.3,0.3-0.7,0.5-1.1,0.5H39.1c-0.4,0-0.8-0.2-1.1-0.5L32.2,75H20.3c-0.9,0-1.6-0.7-1.6-1.6V62.5h-3.1v4.7
                                c0,0.9-0.7,1.6-1.6,1.6H7.8c-0.9,0-1.6-0.7-1.6-1.6V48.4c0-0.9,0.7-1.6,1.6-1.6H14c0.9,0,1.6,0.7,1.6,1.6v4.7h3.1V42.2
                                c0-0.9,0.7-1.6,1.6-1.6h7l5.8-8.7c0.3-0.4,0.8-0.7,1.3-0.7h10.9v-3.1h-4.7c-0.9,0-1.6-0.7-1.6-1.6v-6.2c0-0.9,0.7-1.6,1.6-1.6h18.8
                                c0.9,0,1.6,0.7,1.6,1.6v6.2c0,0.9-0.7,1.6-1.6,1.6h-4.7v3.1h14.1c0.5,0,1,0.3,1.3,0.7l5.8,8.7h3.9c0.9,0,1.6,0.7,1.6,1.6v9.4h3.1
                                v-4.7c0-0.9,0.7-1.6,1.6-1.6h6.2C93.1,45.3,93.8,46,93.8,46.9z"/>
                        </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="vdp-breakdown">

    <div class="vdp-pricing">
        <div class="vdp-pricing__wrapper">
            <h3 class="vdp-pricing__label section-label">
                Pricing Breakdown
            </h3>
            <div class="vdp-pricing__items">
                <div class="vdp-pricing__item">
                    <p class="vdp-pricing__label">Dealer Price</p>
                    <p class="vdp-pricing__text">$63,760</p>
                </div>
                <div class="vdp-pricing__item">
                    <p class="vdp-pricing__label">Incentive 1</p>
                    <p class="vdp-pricing__text">-$1,525</p>
                </div>
                <div class="vdp-pricing__item">
                    <p class="vdp-pricing__label">Incentive 2</p>
                    <p class="vdp-pricing__text">-$1,525</p>
                </div>
                <div class="vdp-pricing__item">
                    <p class="vdp-pricing__label">Incentive 3</p>
                    <p class="vdp-pricing__text">-$400</p>
                </div>
            </div>
            <div class="vdp-pricing__total">
                <a href="#">All Incentives</a>
                <p>$62,500</p>
            </div>
            <div class="vdp-pricing__link">
                <a href="#">See Important Disclosures</a>
            </div>
        </div>
    </div>

    <div class="vdp-cta">
        <div class="vdp-cta__icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <path class="st0" d="M79.9,40.7C54.4,29.2,33.4,35.9,24,40.2c-1.4,3.4-2.2,7.3-2.2,11.3c0,2.6,0.3,5,0.9,7.3
                c4.8,0,12.3,1.1,16.6,7.1c3.7,5.2,4.6,10.7,4.6,14.6c2.6,0.7,5.2,1.1,8,1.1c2.7,0,5.2-0.3,7.8-1c0-3.9,0.9-9.4,4.6-14.6
                C68.4,60,76.2,59,80.9,59c0.6-2.3,0.9-4.8,0.9-7.3C81.9,47.7,81.2,44,79.9,40.7z M51.9,56.4c-2.9,0-5.3-2.3-5.3-5.3
                c0-2.9,2.3-5.3,5.3-5.3c2.9,0,5.3,2.3,5.3,5.3C57.1,54.1,54.8,56.4,51.9,56.4z"/>
            <path class="st0" d="M51.9,6.3C27.1,6.3,7,26.4,7,51.1s20.1,44.8,44.8,44.8c24.8,0.1,44.9-20,44.9-44.8S76.6,6.3,51.9,6.3z
                M51.9,85.3C33,85.3,17.7,70,17.7,51.1S33,16.9,51.9,16.9s34.2,15.3,34.2,34.2S70.8,85.3,51.9,85.3z"/>
            </svg>
        </div>
        <div class="vdp-cta__text">
            <p>Want to check this vehicle out?</p>
            <p>Give us a call at 214-848-5959</p>
        </div>
        <a href="#" class="btn">Ver detalles</a>
    </div>

</div>

<!-- <div class="vdp-options">
    <div class="vdp-options__wrapper">
        <h3 class="vdp-options__label section-label">
            Opcienies
        </h3>
        <div class="vdp-options__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-options__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-options__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-options__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-options__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-options__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-options__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-options__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-options__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-options__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-options__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-options__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-options__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-options__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-options__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-options__item">
            <p>Premium Sound System</p>
        </div>
    </div>
</div> -->

<div class="vdp-features">
    <div class="vdp-features__wrapper">
        <h3 class="vdp-features__label section-label">
            Featurosa
        </h3>
        <div class="vdp-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-features__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-features__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-features__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-features__item">
            <p>Premium Sound System</p>
        </div>
    </div>

    <!-- Extra vdp-features -->

    <div class="vdp-extra-features__wrapper">
        <div class="vdp-extra-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Premium Sound System</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>CS Limitado</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Sunroof/Moonroof</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Back Up Camera</p>
        </div>
        <div class="vdp-extra-features__item">
            <p>Premium Sound System</p>
        </div>
    </div>

    <div class="vdp-features-toggle">
        + Show More
    </div>

</div>

<div class="vdp-description">
    <h3 class="vdp-description__label section-label">
        Descripcion
    </h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, repellat eum cupiditate incidunt harum labore reprehenderit nostrum at voluptatum odio odit aperiam ratione alias temporibus totam quos magnam. Odio, amet. Delectus impedit fugit accusamus fuga, modi repellat quam maiores praesentium voluptas, cupiditate eius corrupti saepe possimus voluptatibus sed pariatur maxime. Autem earum quis quia optio incidunt tenetur, ducimus unde est molestiae dolor sed dignissimos doloremque. Necessitatibus, blanditiis amet nulla deleniti eos dolores veritatis cum? Adipisci sequi impedit commodi dolorem architecto numquam obcaecati dolorum autem corrupti necessitatibus, quod corporis repellat blanditiis in odit, placeat totam cumque quidem voluptas velit consequuntur. Consectetur quod officiis perspiciatis, et a consequuntur tenetur aspernatur quas aliquid voluptate. Blanditiis hic dolorum impedit rerum tempora asperiores ratione modi?</p>
</div>

<div class="vdp-similar-vehicles">
    <h3 class="vdp-similar-vehicles__label section-label">
        Vehículos similares
    </h3>
    <div class="vdp-similar-vehicles__cards">
        {% for card in site.data.vdp.cards %}
        <div class="vehicle-card">
            <div class="vehicle-card__card-image-container">
                <div class="vehicle-card__card-image" style="background: url('{{ card.image }}') center center/cover no-repeat"></div>
            </div>
            {% for flag in card.flag %}
                <div class="vehicle-card__flag vehicle-card__flag--{{flag.type}}">{{ flag.text }}</div>
            {% endfor %}
            <div class="vehicle-card__card-text">
                <h3 class="vehicle-card__headline">{{ card.headline }}</h3>
                <div class="vehicle-card__features">
                    <div class="vehicle-card__feature vehicle-card__feature--price">
                        {{ card.price }}
                    </div>
                    <div class="vehicle-card__feature vehicle-card__feature--mileage">
                        {{ card.mileage }}
                    </div>
                </div>
                <div class="vehicle-card__cta">
                    <a href="#" class="btn btn--secondary">{{ card.cta }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



