<header class="header">
    <div class="header__logo">
        <img src="img/gmc.svg" alt="Dealership Name">
    </div>
    <div class="header__cta header__cta--phone">
        <a href="tel:888-888-8888" class="header__cta-phone-link">888-888-8888</a>
    </div>
    <div class="header__cta header__cta--toggle">
        <label class="toggle">
            <input type="checkbox">
            <span data-unchecked="Espanol" data-checked="English"></span>
            <div class="toggle-label">Espanol</div>
            <div class="toggle-label">English</div>
        </label>
    </div>
</header>