<header class="header">
    <div class="header__logo">
        <img src="img/logo.svg" alt="River City Automotive">
    </div>
    <div class="header__cta header__cta--phone">
        <a href="tel:972-805-6481" class="header__cta-phone-link">972-805-6481</a>
    </div>
    <div class="header__cta header__cta--toggle">
        <label class="toggle">
            <input type="checkbox">
            <span data-unchecked="Espanol" data-checked="English"></span>
            <div class="toggle-label">Espanol</div>
            <div class="toggle-label">English</div>
        </label>
    </div>
    <div class="header__breadcrumbs">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <a href="/">River City Automotive </a>
        <a href="/">/ Inventory </a>
        {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
            / {{ page.title }}
          {% else %}
            / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
          {% endif %}
        {% endfor %}
        </div>
</header>