.header {
    display: flex;
    align-items: center;
    padding: 20px 40px;

    &__logo {
        flex: 0 0 15%;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &__cta-container {
        flex: 0 0 auto;
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__cta {
        padding: 0 20px;

        &--phone {
            
            a {
                text-decoration: none;
                color: $color-1;
                font-family: $plex;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
    

    &--toggle {

        // Toggle

        .toggle {
            overflow: hidden;
            position: relative;
            display: inline-block;
            width: 200px;
            background-color: $color-5;
            border: solid 1px darken($color-5, 10%);
            cursor: pointer;
            border-radius: 10px;
        }
        .toggle input {
            position: absolute;
            visibility: hidden;
        }
        .toggle span {
            position: relative;
            left: 0%;
            display: flex;
            text-transform: uppercase;
            text-align: center;
            z-index: 2;
            font-family: $plex-condensed;
            font-weight: 700;
            font-size: .8rem;
            letter-spacing: 1px;
            
            -webkit-transition: left 200ms ease-out;
                -moz-transition: left 200ms ease-out;
                -o-transition: left 200ms ease-out;
                    transition: left 200ms ease-out;
        }
        .toggle :checked + span {
            left: 50%;
            }
    
        /* Default unchecked state */
        .toggle span:before {
            content: attr(data-unchecked);
            display: block;
            width: 50%;
            background-color: $color-3;
            padding: 10px;
            color: #fff;
        }
    
        /* Checked state */
        .toggle :checked + span:before {
            content: attr(data-checked);
            background-color: $color-3;
        }

        .toggle-label {
            position: absolute;
            width: 50%;
            top: 0;
            left: 0;
            padding: 10px;
            text-transform: uppercase;
            text-align: center;
            background: transparent;
            color: $color-2;
            transition: opacity 100ms;
            opacity: 1;
            font-family: $plex-condensed;
            color: $color-1; 
            font-weight: 700;
            font-size: .8rem;
            letter-spacing: 1px;

            &:last-of-type {
                left: auto;
                right: 0;
                
            }
        }

        .toggle :checked + .toggle-label  {         
            opacity: 0; 
                   
        }
        

        }

    }
    
}