body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
   
}

.section-label {
    text-transform: uppercase;
    font-size: .8rem;
    font-family: $cerebri-bold;
    margin: 0;
}

.btn {
    padding: 20px 40px;
    font-family: $cerebri-medium;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $color-3;
    color: $color-2;
    text-decoration: none;
    box-shadow: none;
    border: none;

    &--secondary {
        background: $color-4;
    }

    &--white {
        background: $color-2;
        color: $color-3;
        text-transform: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: .9rem;
        font-weight: 600;
        cursor: pointer;
    }
}

