---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "base";

.vehicle-card {
    grid-column: auto / span 24;
    border: solid 1px darken($color-5, 10%);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    position: relative;

    @include phone-wide-min {
        grid-column: auto / span 12;
        margin: 0;
    }

    @include desktop-sm-min {
        grid-column: auto / span 6;
    }

&__flag {
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: $plex-condensed;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $color-2;
    font-size: .8rem;
    position: absolute;
    top: -10px;
    left: -10px;
    min-width: 100px;

    &--new-inventory {
        background: $color-7;
    }

    &--low-mileage {
        background: lighten($color-1, 30%);
    }
}

&__card-image-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

&__card-image {
    height: 0;
    padding-top: 56.25%;
}

&__card-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include tablet-wide-min {
        padding: 20px;
    }
}

&__headline {
    font-family: $plex;
    font-weight: 700;
    text-align: left;
    margin: 0;
    font-size: 1rem;
}

&__features {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

&__feature {
    font-family: $plex;
    padding: 0 20px 0 0;
    margin: 0 0 10px;
    font-size: .9rem;

    &--price {
        position: relative;
        
        @include desktop-min {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: auto;
                right: 10px;
                bottom: 0;
                width: 1px;
                background: $color-1;
            }
        }
    }

    &--mileage {
        position: relative;
        padding: 0 20px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background: url(/img/miles.svg);
        }
    }
}

&__cta {
    margin: auto 0 0;

    .btn {
        min-width: 100%;
    }
}

}