---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "base";

main {
    @include grid;
    grid-gap: 0;
}

.heading {
    grid-column: auto / span 24;
    background: $color-5;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.18);
    z-index: 1;

    &__headline {
        font-family: $plex-condensed;
        font-weight: 500;
        font-size: 2rem;
        margin: 0;
    }

    &__price {
        font-family: $plex-condensed;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 0;
    }
}

.vdp-top {
    grid-column: auto / span 24;
    @include grid;
    background: $color-2;
}

.vdp-slider {
    grid-column: auto / span 15;
    grid-row: 1 / span 10;

    &__top-slider-wrapper {
        position: relative;
    }

    &__top-slider {

        .flickity-viewport {
            border-bottom-right-radius: 20px;
            overflow: hidden;
        }

        .cell {
            width: 100%;
            height: 0;
            padding-top: 56.25%;
            overflow: hidden;
            position: relative;
        }

        .flickity-prev-next-button {
            top: auto;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            bottom: calc(-11% - 56px);
            transform: none;
            z-index: 2;
        }

    }

    &__photo-count {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        background: rgba(0,0,0,0.7);

        &-icon {
            width: 16px;
            height: 16px;

            .st0 {
                fill: $color-2;
            }
        }

        &-label {
            color: $color-2;
            font-family: $plex;
            font-size: 1rem;
            padding: 0 10px;
        }
    }

    &__bottom-slider {
        max-height: 200px;
        padding: 40px 80px;

        .cell {
            width: 23.75%;
            height: 0;
            padding-top: 15%;
            margin: 0 5px;
            overflow: hidden;
            position: relative;
            border-radius: 20px;
        }

        .flickity-viewport {
            max-height: 200px;
        }

    }
}

.vdp-highlights {
    grid-column: auto / span 9;
    grid-row: 1 / span 1;
    padding: 40px;

    &__wrapper {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    &__items {
        padding: 20px 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid darken($color-5, 10%);

        &:last-of-type {
            border: none;
        }

        p {
            font-family: $plex-condensed;
            font-weight: 700;
            color: $color-4;
            font-size: 1.1rem;
        }
    }

    &__icon {
        width: 32px;
        height: 32px;

        .st0 {
            fill: $color-6;
        }
    }

    &__color {
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 5px;
    }
}

.vdp-breakdown {
    grid-column: auto / span 24;
    @include grid;
    padding: 80px;
    background: $color-5;
}

.vdp-pricing {
    grid-column: auto / span 12;
    padding: 0 40px;

    &__wrapper {
        padding: 40px;
        display: flex;
        flex-direction: column;
        background: $color-2;
        border-radius: 20px;
    }

    &__items {
        padding: 20px 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid darken($color-5, 10%);

        &:first-of-type {
            border-top: 1px solid darken($color-5, 10%);
        }
    }

    &__label {
        font-family: $plex-condensed;
        font-weight: 700;
    }

    &__text {
        font-family: $plex-condensed;
        font-weight: 400;
    }

    a {
        color: $color-3;
        font-family: $plex;
        font-weight: 500;
        font-size: .9rem;
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 5px;

        p {
            font-family: $plex;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0;
        }
    }
}

.vdp-cta {
    grid-column: auto / span 12;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__icon {
        width: 96px;
        height: 96px;

        .st0 {
            fill: $color-6;
        }
    }

    &__text {
        padding: 20px 0;
        
        p {
            margin: 0;
            color: $color-4;
            font-family: $plex;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .btn {
        margin-bottom: 20px;
        min-width: 80%;
    }
}

.vdp-options {
    grid-column: auto / span 24;
    padding: 80px;

    &__wrapper {
        @include grid;
        grid-gap: 0;
    }

    &__label {
        grid-column:  auto / span 24;
        padding-bottom: 10px;
    }

    &__item {
        grid-column: auto / span 6;
        border-bottom: 1px solid darken($color-5, 10%);

        p {
            font-family: $plex;
            font-weight: 500;
            margin: 0;
            padding: 20px 0;
        }
    }
}

.vdp-features {
    grid-column: auto / span 24;
    padding: 80px;
    background: $color-5;

    &__wrapper {
        @include grid;
        grid-gap: 0;
    }

    &__label {
        grid-column:  auto / span 24;
        padding-bottom: 10px;
    }

    &__item {
        grid-column: auto / span 6;
        border-bottom: 1px solid darken($color-5, 10%);

        p {
            font-family: $plex;
            font-weight: 500;
            margin: 0;
            padding: 20px 0;
        }
    }
}

.vdp-extra-features {
   

    &__wrapper {
        @include grid;
        grid-gap: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height .3s;

        &.features-display {
            max-height: 100vh;
        }

    }

    &__label {
        grid-column:  auto / span 24;
        padding-bottom: 10px;
    }

    &__item {
        grid-column: auto / span 6;
        border-bottom: 1px solid darken($color-5, 10%);

        p {
            font-family: $plex;
            font-weight: 500;
            margin: 0;
            padding: 20px 0;
        }
    }
}

.vdp-features-toggle {
    grid-column: auto / span 24;
    padding: 10px 20px;
    font-family: $plex;
    color: $color-3;
    border: solid 1px darken($color-5, 10%);
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.vdp-description {
    grid-column: auto / span 24;
    padding: 0 80px 80px;
    background: $color-5;
    font-family: $plex;
    line-height: 2;
    font-size: .9rem;
}

.vdp-similar-vehicles {
    grid-column: auto / span 24;
    padding: 80px;

    &__label {
        text-align: center;
        padding: 0 0 40px;
    }

    &__cards {
        @include grid;
        grid-gap: 20px;
    }

    &__card {
        grid-column: auto / span 8;
        border: solid 1px darken($color-5, 10%);
        border-radius: 20px;
        overflow: hidden;
    }

    &__card-image {
        height: 0;
        padding-top: 56.25%;
    }

    &__card-text {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    &__headline {
        font-family: $plex;
        font-weight: 700;
        text-align: center;
        margin: 0;
        font-size: 1.1rem;
    }

    &__features {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: center;
    }

    &__feature {
        font-family: $plex;
        padding: 0 20px;

        &--mileage {
            position: relative;
            padding-left: 30px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background: url(/img/miles.svg);
            }
        }
    }

    &__cta {
        .btn {
            min-width: 100%;
        }
    }
}

