---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "base";

main {
    @include grid;
    grid-gap: 0;
}

.heading {
    grid-column: auto / span 24;
    background: $color-5;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.18);
    z-index: 3;
    position: sticky;
    top: 0;

    @include tablet-min {
        flex-direction: row;
        justify-content: flex-start;
    }

    &__back {

        svg {
            fill: $color-3;
        }
    }

    &__headline {
        font-family: $cerebri-medium;
        font-size: 1.1rem;
        margin: 0;
        text-align: center;
        padding: 10px 0 0;

        @include tablet-min {
            text-align: left;
            font-size: 1.5rem;
            padding: 0 0 0 20px;
        }

        @include tablet-wide-min {
            font-size: 2rem;
        }
    }

    &__price {
        font-family: $cerebri-medium;
        font-size: 1.5rem;
        margin: 0;
        text-align: center;

        @include tablet-min {
            text-align: right;
            margin-left: auto;
        }
    }
}

.vdp-top {
    grid-column: auto / span 24;
    @include grid;
    background: $color-2;
}

.vdp-slider {
    grid-column: auto / span 24;
    grid-row: auto;

    @include tablet-min {
        grid-column: auto / span 15;
        grid-row: 1 / span 2;
    }

    &__top-slider-wrapper {
        position: relative;
    }

    &__top-slider {

        .flickity-viewport {
            overflow: hidden;

            @include tablet-min {
                border-bottom-right-radius: 20px;
            }
        }

        .cell {
            width: 100%;
            height: 0;
            padding-top: 56.25%;
            overflow: hidden;
            position: relative;
        }

        .flickity-prev-next-button {
            top: auto;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            bottom: calc(-11% - 36px);
            transform: none;
            z-index: 2;

            @include tablet-wide-min {
                bottom: calc(-11% - 56px); 
            }
        }

    }

    &__photo-count {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        display: flex;
        align-items: center;
        padding: 20px;
        border-top-left-radius: 20px;
        background: rgba(0,0,0,0.7);

        @include tablet-min {
            border-bottom-right-radius: 20px;
        }

        &-icon {
            width: 16px;
            height: 16px;

            .st0 {
                fill: $color-2;
            }
        }

        &-label {
            color: $color-2;
            font-family: $cerebri;
            font-size: 1rem;
            padding: 0 10px;
        }

        &-image {
            display: none;
        }
    }

    &__bottom-slider {
        max-height: 200px;
        padding: 20px 60px;

        @include tablet-min {
            padding: 20px 80px; 
        }

        @include tablet-wide-min {
            padding: 40px 80px;
        }

        .cell {
            width: 33%;
            height: 0;
            padding-top: 20%;
            margin: 0 5px;
            overflow: hidden;
            position: relative;
            border-radius: 10px;

            @include phone-wide-min {
                width: 23.75%;
                padding-top: 15%;
            }

            @include tablet-wide-min {
                border-radius: 20px;
            }
        }

        .flickity-viewport {
            max-height: 200px;
        }

    }
}

.vdp-highlights {
    grid-column: auto / span 24;
    grid-row: auto;
    padding: 20px 40px;

    @include tablet-min {
        grid-column: auto / span 9;
        grid-row: 1 / span 1;
    }

    @include tablet-wide-min {
        padding: 40px;
    }

    &__wrapper {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    &__items {
        padding: 20px 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid darken($color-5, 10%);

        &:last-of-type {
            border: none;
        }

        p {
            font-family: $cerebri-bold;
            color: $color-4;
            font-size: .9rem;
            margin: 15px 0;

            @include tablet-wide-min {
                font-size: 1.1rem;
                margin: 30px 0;
            }
        }
    }

    &__icon {
        width: 24px;
        height: 24px;

        @include tablet-wide-min {
            width: 32px;
            height: 32px;
        }

        .st0 {
            fill: $color-6;
        }
    }

    &__color {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 5px;

        @include tablet-wide-min {
            width: 28px;
            height: 28px; 
        }
    }
}

.vdp-breakdown {
    grid-column: auto / span 24;
    @include grid;
    padding: 40px;
    background: $color-5;

    @include tablet-min {
        padding: 80px 40px;
    }

    @include tablet-wide-min {
        padding: 80px;
    }
}

.vdp-pricing {
    grid-column: auto / span 24;
    padding: 0;

    @include tablet-min {
        grid-column: auto / span 12;
        padding: 0 20px;
    }

    @include tablet-wide-min {
        padding: 0 40px;
    }

    &__wrapper {
        padding: 40px;
        display: flex;
        flex-direction: column;
        background: $color-2;
        border-radius: 20px;
    }

    &__items {
        padding: 20px 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid darken($color-5, 10%);

        &:first-of-type {
            border-top: 1px solid darken($color-5, 10%);
        }
    }

    &__label {
        font-family: $cerebri-bold;
    }

    &__text {
        font-family: $cerebri-medium;
    }

    a {
        color: $color-3;
        font-family: $cerebri-medium;
        font-size: .9rem;
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 5px;

        p {
            font-family: $cerebri-medium;
            font-size: 1.5rem;
            margin: 0;
        }
    }
}

.vdp-cta {
    grid-column: auto / span 24;
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet-min {
        grid-column: auto / span 12;
        padding: 20px;
    }

    @include tablet-wide-min {
        padding: 20px 40px;
    }

    &__icon {
        width: 96px;
        height: 96px;

        .st0 {
            fill: $color-6;
        }
    }

    &__text {
        padding: 20px 0;
        
        p {
            margin: 0;
            color: $color-4;
            font-family: $cerebri-medium;
            font-size: 1rem;
        }
    }

    .btn {
        margin-bottom: 20px;
        min-width: 80%;
    }
}

.vdp-options {
    grid-column: auto / span 24;
    padding: 40px;

    @include tablet-min {
        padding: 80px 40px; 
    }

    @include tablet-wide-min {
        padding: 80px; 
    }

    &__wrapper {
        @include grid;
        grid-gap: 0;
    }

    &__label {
        grid-column:  auto / span 24;
        padding-bottom: 10px;
    }

    &__item {
        grid-column: auto / span 24;
        border-bottom: 1px solid darken($color-5, 10%);

        @include phone-wide-min {
            grid-column: auto / span 12;
        }

        @include tablet-min {
            grid-column: auto / span 8;
        }

        @include tablet-wide-min {
            grid-column: auto / span 6;
        }

        p {
            font-family: $cerebri-medium;
            margin: 0;
            padding: 20px 0;
        }
    }
}

.vdp-features {
    grid-column: auto / span 24;
    padding: 40px;

    @include tablet-min {
        padding: 80px 40px; 
    }

    @include tablet-wide-min {
        padding: 80px; 
    }

    &__wrapper {
        @include grid;
        grid-gap: 0;
    }

    &__label {
        grid-column:  auto / span 24;
        padding-bottom: 10px;
    }

    &__item {
        grid-column: auto / span 24;
        border-bottom: 1px solid darken($color-5, 10%);

        @include phone-wide-min {
            grid-column: auto / span 12;
        }

        @include tablet-min {
            grid-column: auto / span 8;
        }

        @include tablet-wide-min {
            grid-column: auto / span 6;
        }

        p {
            font-family: $cerebri-medium;
            margin: 0;
            padding: 20px 0;
        }
    }
}

.vdp-extra-features {
   

    &__wrapper {
        @include grid;
        grid-gap: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height .3s;

        &.features-display {
            max-height: 100vh;
        }

    }

    &__label {
        grid-column:  auto / span 24;
        padding-bottom: 10px;
    }

    &__item {
        grid-column: auto / span 24;
        border-bottom: 1px solid darken($color-5, 10%);

        @include phone-wide-min {
            grid-column: auto / span 12;
        }

        @include tablet-min {
            grid-column: auto / span 8;
        }

        @include tablet-wide-min {
            grid-column: auto / span 6;
        }

        p {
            font-family: $cerebri-medium;
            margin: 0;
            padding: 20px 0;
        }
    }
}

.vdp-features-toggle {
    grid-column: auto / span 24;
    padding: 10px 20px;
    font-family: $cerebri-medium;
    color: $color-3;
    border: solid 1px darken($color-5, 10%);
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.vdp-description {
    grid-column: auto / span 24;
    padding: 40px;
    background: $color-5;
    font-family: $cerebri;
    line-height: 2;
    font-size: .9rem;

    @include tablet-min {
        padding: 80px 40px;
    }

    @include tablet-wide-min {
        padding: 80px 80px;
    }
}

.vdp-similar-vehicles {
    grid-column: auto / span 24;
    padding: 40px;

    @include tablet-min {
        padding: 80px 40px; 
    }

    @include tablet-wide-min {
        padding: 80px;
    }

    &__label {
        text-align: center;
        padding: 0 0 40px;
    }

    &__cards {
        @include grid;
        
        @include tablet-min {
            grid-gap: 10px;
        }

        @include tablet-wide-min {
            grid-gap: 20px; 
        }
    }
}


