---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "base";

main {
    @include grid;
}

.srp {
    grid-column: auto / span 24;

    &__search {
        padding: 20px;
        background: $color-5;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 2;

        @include phone-wide-min {
            padding: 40px;
        }
        
        @include tablet-wide-min {
            padding: 40px 80px;
        }
    }

    &__search-field {
        flex: 0 0 70%;
        position: relative;

        @include phone-wide-min {
            flex: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 20px;
            width: 32px;
            height: 32px;
            transform: translateY(-50%);
            background: url('/img/icon-search.svg') center center/contain no-repeat;
            opacity: .4;
        }

        input {
            width: 100%;
            padding: 20px 64px;
            font-size: 1rem;
            font-family: $plex;
            border: none;
            border-right: 1px solid $color-5;

            @include phone-wide-min {
                font-size: 1.1rem;
            }
        }

    }

    &__filters-container {
        flex: 0 0 30%;
        display: flex;


        @include phone-wide-min {
            flex: 0;
        }
        
        .btn--filter {
            position: relative;
            padding-left: 42px;
            width: 100%;
            border-radius: 0;

            @include phone-wide-min {
                border-radius: inherit;
                min-width: 150px;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                background: url('/img/icon-filter.svg') center center/contain no-repeat;
            }
        }
    }

    &__cards {
        @include grid;
        
        padding: 40px;

        @include tablet-min {
            padding: 80px 40px;
            grid-gap: 20px;
        }

        @include tablet-wide-min {
            padding: 80px;
        }
    }

    .vehicle-card {
        color: $color-1;
        text-decoration: none;

        &__features {
            padding: 20px 0 0;
        }
    }

    #filters {
        display: none;
    }

    &__filters {
        padding: 40px;
        border-radius: 10px;
        min-width: 80%;

        h2 {
            font-family: $plex;
            font-weight: 700;
            font-size: 1.2rem;
            margin: 0 0 40px;
        }

        .fancybox-close-small {
            top: 33px;
            right: 40px;
        }
    }

    &__filters-items {
        padding: 0 0 40px;
        
        h3 {
            font-family: $plex-condensed;
            font-weight: 600;
            text-transform: uppercase;
            font-size: .9rem;
        }

        &-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        &--double {
            flex: 0 0 100%;
            padding: 0 40px 0 0;

            @include phone-wide-min {
                flex: 0 0 50%;
            }
        }

        &--range {
            padding: 0 40px 60px 0;
        }
    }

    &__filters-item-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__filters-item {
        margin: 5px 0;

        [type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked + .srp__filters-item-pill {
                background: $color-3;
                color: $color-2;
                border-color: $color-3;
            }

            &:checked + .srp__filters-item-color::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 28px;
                height: 28px;
                transform: translate(-50%, -50%);
                z-index: 2;
                background: url('/img/icon-check.svg') center center/contain no-repeat;
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: transparent;
            background-image: none;
            cursor: pointer;
            font-family: $plex;
            font-size: .9rem;
            font-weight: 600;
            color: $color-3;
            padding: 5px 32px 5px 24px;
        }

        &-pill {
            border: solid 1px lighten($color-1, 80%);
            border-radius: 5px;
            padding: 5px 10px;
            text-align: center;
            color: $color-3;
            font-family: $plex;
            font-weight: 600;
            margin-right: 10px;
            cursor: pointer;
        }

        &-color {
            border: solid 1px lighten($color-1, 80%);
            border-radius: 5px;
            width: 48px;
            height: 48px;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
        }

        &-select {
            border: solid 1px lighten($color-1, 80%);
            border-radius: 5px;
            text-align: left;
            color: $color-3;
            font-family: $plex;
            font-weight: 600;
            margin-right: 10px;
            display: flex;
            cursor: pointer;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                // padding: 0 15px;
                background: $color-2;
                cursor: pointer;
                pointer-events: none;
                transition: .25s all ease;
                background: url('/img/icon-arrow-down-blue.svg') center center/contain no-repeat;
            }
        }

        .irs--flat, .irs--flat.irs-with-grid {
            width: 100%;
        }

        .irs--flat .irs-bar, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
            background-color: $color-3;
        }

        .irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before {
            border-top-color: $color-3;
            bottom: unset;
            top: -6px;
            transform: rotate(180deg);
        }

        .irs--flat .irs-handle > i:first-child {
            background-color: $color-3;
        }

        .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
            font-size: 1rem;
            font-family: $plex;
            font-weight: 500;
            top: 450%;
        }
    }

    &__filters-footer {
        padding: 40px 0;
        border-top: solid 1px lighten($color-1, 80%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
}